.route-content-box .route-man-box {
    padding: 30px 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e6eaec;
    border-bottom: none;
    background: #fff;
}
.route-man-box .route-top {
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.route-top .tit-line {
    left: -40px;
}
.route-top span.tit-name {
    font-size: 18px;
    font-weight: 600;
}
.route-top .operate-btns {
    font-size: 14px;
    color: #5ec2bc;
}
.route-top .operate-btns .operate-line {
    padding: 0 10px;
    font-size: 12px;
    color: #d9d9d9;
}
.route-lists .trip-people {
    margin-top: 40px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    background: #fbfbfb;
    border: 1px solid #ececec;
}
.route-lists .trip-people span.people-col {
    color: #e3aa37;
}
.route-lists .routing-box {
    padding: 35px 0;
}



/**/

.rout-detail-list ul.route-ul-con{
    float: left;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #3a3a3a;
    box-sizing: border-box;
}
.rout-detail-list ul.route-ul-con li {
    float: left;
    box-sizing: border-box;

}
.rout-detail-list ul.route-ul-con li input.input {
    text-align: right;
    background: none;
}
.rout-detail-list ul.route-ul-con li.date  {
    padding-top: 12px;
    line-height: normal;
}
.rout-detail-list ul.route-ul-con li.date span {
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 100%;
}
.rout-detail-list ul.route-ul-con li.date span.city{
    color: #5ec1bc;
}

.rout-detail-list ul.route-ul-con.odd-bg {
    background: #f3f7fa;
    border-top: 1px solid #e3eaf0;
    border-bottom: 1px solid #e3eaf0;
}
.rout-detail-list ul.route-ul-con.head {
    height:35px;
    line-height: 35px;
    background: #5ec2bc;
    color: #fff;
}
.rout-detail-list ul.route-ul-con li.child-one { width: 11% ;padding-left: 20px;}
.rout-detail-list ul.route-ul-con li.child-two{ width: 12% }
.rout-detail-list ul.route-ul-con li.child-three{ width: 12% }
.rout-detail-list ul.route-ul-con li.child-four{ width: 9% }
.rout-detail-list ul.route-ul-con li.child-five{ width: 9%; text-align: right }
.rout-detail-list ul.route-ul-con li.child-six{ width: 8%;  text-align: right }
.rout-detail-list ul.route-ul-con li.child-seven{ width: 8%;  text-align: right }
.rout-detail-list ul.route-ul-con li.child-eight{ width: 8%;  text-align: right }
.rout-detail-list ul.route-ul-con li.child-nine{ width: 8%; text-align: right }
.rout-detail-list ul.route-ul-con li.child-ten{ width: 5%; padding-left: 20px; }
