.fund-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background: #000;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;

}
/*POP*/
.fund-pop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: auto;
    width: 1120px;
    height: 790px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(1,1,0,0.44);
    padding-bottom: 60px;
}
.fund-pop-top {
    padding: 0 20px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    line-height: 45px;
    font-size: 16px;
    font-weight: 600;
    background: #f7f7f7;
    color: #3b3b3b;
}
.fund-pop-top .right {
    width: 16px;
    height: 100%;
    background-image: url(../images/close3.png);
    background-repeat: no-repeat;
    background-position-y: 14px;
    cursor: pointer;
}
/*content*/
.fund-pop-content {
    padding: 30px 20px;
    width: 100%;
    box-sizing: border-box;
}
.pop-main-con .content-top {
    padding-left: 20px;
    height: 38px;
    width: 100%;
    box-sizing: border-box;
    line-height: 38px;
    font-size: 16px;
    color: #fff;
    background: #51c4bc;
}
.pop-main-con .content-box {
    padding: 20px;
}
/*第一部分*/
.pop-main-con .lab-con {
    min-height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
}
.pop-main-con .lab-con .tit {
    width: 100%;
}
.pop-main-con .lab-con .search-people-box {
    padding-top:7px;
    width: 100%;
}
.pop-main-con .lab-con .search-people-box .search {
    width: 290px;
    border-bottom: 1px solid #e6e6e6;
}
.pop-main-con .lab-con .search-people-box .search input.input {
    padding: 0;
    WIDTH: 82%;
    border: 0;
}
.pop-main-con .lab-con .search-people-box .search .sea-line {
    padding: 0 5px;
    color: #d5d5d5;
}
.pop-main-con .lab-con .search-people-box .search .sea-txt {
    color: #51c4bc;
    cursor: pointer;
}
.pop-main-con .lab-con .search-people-box .letter-box {
    margin-top: 5px;
}
.pop-main-con .lab-con .search-people-box .letter-box .letter-con {
    margin-right: 3px;
    height: 20px;
    width: 20px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    color: #b1b1b1;
    border: 1px solid #fff;
    cursor: pointer;
}
.pop-main-con .lab-con .search-people-box .letter-box .letter-con.active {
    border-color: #51c4bc;
    color: #51c4bc;
}

.pop-main-con ul.people-box {padding-left: 15px;}
.pop-main-con ul.people-box li{
    margin-right: 10px;
    height: 27px;
    width: 85px;
    line-height: 27px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #51c4bc;
    border-radius: 2px;
    border: 1px solid #51c4bc;
    cursor: pointer;
}
.pop-main-con ul.people-box li img.close-img {
    margin-top:-2px;
    padding-left: 10px;
}
.fund-pop-content .pop-main-bg {
    width: 100%;
    height: 5px;
    background: #f7f7f7;
}
.pop-main-con .lab-con .people-box.people-list {
    padding: 15px 0 35px;
    margin-top: 10px;
}
.pop-main-con .lab-con .people-box.people-list li {
    color: #4c4c4c;
    border-color: #ddd;
    cursor: pointer;
}

/*行程安排*/
.pop-main-con.routing-main {
    margin-top: 30px;
}
.pop-main-con.routing-main .content-box.routing-box {
    padding: 30px 0;
}
.pop-main-con.routing-main .content-box.routing-box .routing-lists {
    padding: 0 12px;
}
.pop-main-con.routing-main .content-box.routing-box .routing-lists .add {
    float:left;
    line-height: 82px;
    padding-right: 5px;}
.pop-main-con.routing-main .content-box.routing-box .routing-lists .subtract {
    float:left;
    line-height: 82px;
    padding-left: 5px;
}
.pop-main-con.routing-main .content-box.routing-box .routing-lists .add img,
.pop-main-con.routing-main .content-box.routing-box .routing-lists .subtract img {
    height: 20px;
}
.pop-main-con.routing-main .content-box.routing-box .routing-lists .vehicle {position: relative; padding: 0 5px;}
.pop-main-con.routing-main .content-box.routing-box .routing-lists .vehicle img {
    height: auto;
    width: 30px;
    padding: 0;
}
.pop-main-con.routing-main .content-box.routing-box .routing-lists .vehicle .add-img {
    padding:0;
    /*height: 20px;*/
    width: 20px;
    cursor: pointer;
}

.pop-main-con.routing-main .lab-con.rout-lab-con {
    padding: 30px 20px 0;
    box-sizing: border-box;
}

/**/
.fund-bottom {
    position: absolute;
    bottom: 0;
    height: 62px;
    width: 100%;
    box-sizing: border-box;
    line-height: 62px;
    background: #f7f7f7;
}

/*
交通工具*/
.choose-vehicle {
    position: absolute;
    top: 62px;
    left: -10px;
    width: 107px;
    height: 104px;
    border: 1px solid #e8e8e8;
    background: #fff;
    z-index: 100;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(1,1,0,0.44);
}
.choose-vehicle .choose-top {
    height: 28px;
    width: 100%;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #51c4bc;
}
.choose-vehicle ul.choose-vehicle-list {margin-top: 15px;}
.choose-vehicle ul.choose-vehicle-list li{
    float:left;
    margin-bottom: 12px;
    width: 50%;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
}
.choose-vehicle ul.choose-vehicle-list li.unborder {border: none;}
/**
日历样式/
 */

.kui_data_content_pane {
    width: 348px;
    height: 185px;
    border-color:#e4e4e4;
}
.kui_prev_next_month{
    background: #00b6b8;
}
.kui_today {
    margin: 0;
}
#left_table, #right_table {
    margin-left: 3px;
    width: 170px;
    height:153px;
    border-color: #dcdcdc;
}
.d_th_bg {
    color: #ff0004;
}
.kui_date_info dt {
    color: #00969d;
}
.kui_data_tab {
    width: 168px;
    margin:0;
}
.kui_prev_m {
    width: 20px;
    height: 20px;
    background-image: url("../images/date_prev.jpg");
    background-repeat: no-repeat;

}
.kui_today, .kui_tomorrow {
    width: 145px;
}
.kui_next_m {
    background-image: url("../images/date_next.jpg");
    background-repeat: no-repeat;
}
.kui_date_reset {
    display: none;
}
