.login-box {
    width: 100%;
    height: 100vh;
    background: url('./images/login_bg.jpg');
    background-size: cover;
}
.login-box .login-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 800px;
    height: 605px;
}
.login-box .login-main .login-cons {
    width: 100%;
    height: 555px;
}
.login-box .login-main .login-cons .main-con {
    width: 400px;
    height: 100%;
    float:left;
}
/*login-left*/
.login-box .login-main .login-cons .main-con.login-left {
    background: url("./images/login_left@1x.png");
    background-size: cover;
}
/*form*/
.login-box .login-main .login-cons .main-con.login-right {
    background: #fff;
}
.login-box .login-main .login-cons .main-con.login-right .login-img {
    margin-top: 75px;
    height:90px;
    width: 100%;
    text-align: center;
}
.login-box .login-main .login-cons .main-con.login-right .login-img img {
    height: 100%;
}
.login-box .login-main .login-cons .main-con.login-right form {
    margin: 50px auto 0;
    width: 240px;
    height: 300px;
}
.login-box .login-main .login-cons .main-con.login-right form .inputBox {
    margin-bottom: 25px;
}
.login-box .login-main .login-cons .main-con.login-right form input.input {
    height: 40px;
    line-height: 40px;
}
.login-box .login-main .login-cons .main-con.login-right form .login-btn {
    margin-top: 5px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.05);
}
/*login-foot*/
.login-box .login-main .login-footer {
    padding-top: 30px;
    width: 100%;
    text-align: center;
    line-height: 12px;
    color: #656565;
}