/*下拉框*/
.selects {
    padding: 0 10px;
    height: 40px;
    line-height: 39px;
    width: 100%;
    border: 1px solid #eee;
    background-color: #fff;
    position: relative;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    color: #8a8a8a;
    border-radius: 2px;

}
.selects .se-label {
    width: 90% !important;
    height: 100%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left !important;
    cursor: pointer;
    margin-bottom: 0;
}
.selects .img-down {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
}

.selects ul.se-item {
    position: absolute;
    top: 39px;
    background-color: #fff;
    left: -1px;
    width: 100%;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    z-index: 110;
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.13);
    display: none;
}

.selects ul.se-item .once {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.selects ul.se-item .once:hover {
    background-color: #fafafa
}

/*input*/
input.input{
    width: 100%;
    height: 35px;
    font-size: 14px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-sizing: border-box;
}
.login-btn {
    margin-top: 18px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    background: #5ec2bc;
    border-radius: 2px;
    cursor: pointer;
}
.login-btn:hover {
    background: #68d0ca;
}

.login-btn a{
    color: #fff;
}
.btns {
    margin-right: 25px;
    min-width: 110px;
    height: 33px;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #5ec2bc;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}
/*.btns:hover {*/
    /*background: #68d0ca;*/
/*}*/
.btns.whiteBths {
    border: 1px solid #b9bbbc;
    color: #717475;
    background: #fff;
}
/*.btns.whiteBths:hover {*/
    /*background: #fff;*/
/*}*/
.radio {
    display: inline-block;
    cursor: pointer;
}
.radio img.radio-img {
    margin-top: -3px;
    height: 17px;
}
.radio span {
    padding: 0 10px 0 6px;
    color: #959595;
}