/*
头部
*/
#header {
    margin: 0 auto;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

#header .header-logo-box {
    margin: 0 auto;
    height: 60px;
    width: 1200px;
    line-height: 60px;
    box-sizing: border-box;
}
#header .header-logo-box .logo-img {
    float: left;
}
#header .header-logo-box .logo-img img {
    /*width: 360px;*/
}

#header .header-logo-box .logo-right {
    height: 100%;
    line-height: 60px;
}
#header .user-info-box {
    position:relative;
    height: 100%;
    margin-right: 20px;
    border-right: 1px solid #ebf0f3;
}
#header .portrait {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    float: left;
}
#header .portrait img{
    height: 38px;
    width: 38px;
    border-radius: 100%;
}
#header .user-name{
    margin-left: 15px;
    margin-right: 20px;
    float: left;
    line-height: 60px;
}
#header .user-name .name-color {
    margin-right: 10px;
    color: #5ec2bc;
}

/*pop*/
#header .user-info-box .info-pop {
    position: absolute;
    top: 60px;
    width: 235px;
    height: 185px;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
}
#header .info-pop .info-pop-top {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background: #eff0f4;
    color: #898a8c;
}
#header .info-pop .info-pop-top img {height: 23px;}
#header .info-pop-content {
    width: 100%;

}
#header .info-main {
    margin: 25px 0 20px;
    height: 45px;
}
#header .info-main .list {
    padding: 0 14px;
    height: 100%;
    float: left;
    border-right: 1px solid #edeef0;
}
#header .info-main .list span{
   line-height: 75px;
}
#header .info-main .list-impower {
    background: url("../images/shouq.png");
    background-repeat: no-repeat;
    background-position: top;
}
#header .info-main .list-impower:hover {
    background: url("../images/shouq_hover.png");
    background-repeat: no-repeat;
    background-position: top;
    color: #5ec2bc;
}
#header .info-main .list-pass {
    background: url("../images/mima.png");
    background-repeat: no-repeat;
    background-position: top;
}
#header .info-main .list-pass:hover {
    background: url("../images/mima_hover.png");
    background-repeat: no-repeat;
    background-position: top;
    color: #5ec2bc;
}
#header .info-main .list-call {
    background: url("../images/call.png");
    background-repeat: no-repeat;
    background-position: top;
    border-right: none;
}
#header .info-main .list-call:hover {
    background: url("../images/call_hover.png");
    background-repeat: no-repeat;
    background-position: top;
    color: #5ec2bc;
}
#header .info-pop-content .switch {
    height: 26px;
    width: 100%;
    text-align: center;
    line-height: 26px;
}
#header .info-pop-content .switch img {height:100%}


#header .user-inform  {
    position: relative;
    width: 24px;
    height: 60px;
    background: url("../images/tongzhi-01.png");
    background-repeat: no-repeat;
    background-position: center;
}

#header .user-inform:hover  {
    width: 24px;
    height: 60px;
    background: url("../images/tongzhi_hover.png");
    background-repeat: no-repeat;
    background-position: center;
}
#header .user-inform .num {
    position: absolute;
    top: 9px;
    left: 10px;
    height: 18px;
    width: 16px;
    line-height: 18px;
    text-align: center;
    border-radius: 16px;
    background: #fe5715;
    color: #fff;
}
#header .user-help {
    margin-left: 30px;
    width: 24px;
    height: 60px;
    background: url("../images/help.png");
    background-repeat: no-repeat;
    background-position: center;
}
#header .user-help:hover {
    background: url("../images/help_hover.png");
    background-repeat: no-repeat;
    background-position: center;
}
#header .user-service {
    margin-left: 30px;
    width: 24px;
    height: 60px;
    background: url("../images/24h-01.png");
    background-repeat: no-repeat;
    background-position: center;
}
#header .user-service:hover {
    background: url("../images/24h-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}






#header #nav {
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    box-sizing: border-box;
    background: #59c3bc;
}
#header #nav ul.nav-bar {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
#header #nav ul.nav-bar li.bar-con {
    float: left;
    height: 100%;
}
#header #nav ul.nav-bar li.bar-con.active a{
    color: #119f96;
    background: url("./../images/title_bg.jpg") repeat-x;
}
#header #nav ul.nav-bar li.bar-con.disabled a{
    color: #149c94;
    cursor: no-drop;
}
#header #nav ul.nav-bar li.bar-con a {
    padding: 0 6px;
    display: inline-block;
    *zoom:1;
    *display: inline;
    vertical-align: top;
    font-size: 16px;
    color: #fff;
}
#header #nav ul.nav-bar li.bar-con .bar-line {
    margin: 0 6px;
    margin-top: 14px;
    width: 1px;
    height: 13px;
    display: inline-block;
    *zoom:1;
    *display: inline;
    /*vertical-align: middle;*/
    background: #58a8a3;
}
#header #nav ul.nav-bar li.bar-con.last-con .bar-line {
    display: none;
}

/*
内容
*/
.content-main-box {
    width: 100%;
    min-height: calc(100vh - 155px);
    background: #f3f8f9;
}
.content-main-box .content {
    padding-top: 10px;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
.content-main-box .tit-line {
    position: absolute;
    top: 50%;
    left: 25px;
    margin: -10px 0 0 0;
    width: 4px;
    height: 20px;
    background: #5ec2bc;
}
.content-main-box .content .content-left {
    margin-right: 20px;
    margin-bottom:10px;
    width: 946px;
    float: left;
    box-sizing: border-box;
}

.content-main-box .arrow-icons{
    padding-top: 20px;
    width: 8px;
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-left: 10px;
}
.content-main-box .arrow-icons i{
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 8px;
    height: 4px;
    float: left;
    cursor: pointer;
}
.content-main-box .arrow-icons i.up-arrow-icon{
    background: url(../images/up_arrow.png) ;
    background-repeat: no-repeat;
}
.content-main-box .arrow-icons i.down-arrow-icon{
    background: url(../images/down_arrow.png) ;
    background-repeat: no-repeat;
    margin-top: 4px;
}

/*
右侧部分
*/
.content-main-box .content .content-right {
    width: 234px;
    float: left;
    box-sizing: border-box;
}

/*
footer
*/
#footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    height: 55px;
    width: 100%;
    line-height: 55px;
    background: #26262c;
    color: #919199;
    box-sizing: border-box;
}
#footer span.txt {
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 100%;
    text-align: center;
    background: #26262c;
}

