/*
con-list
*/
.list-cons {
    margin-bottom: 20px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e3e8e9;
}
.list-cons .cons-top {
    padding: 0 20px;
    height: 45px;
    width: 100%;
    line-height: 45px;
    box-sizing: border-box;
    background: #fafafa;
    border-bottom: 1px solid #e8ebeb;
}
.list-cons .cons-top .title {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #181d1e;
}
.list-cons .cons-top .tit-tabs {
    padding-left: 20px;
}
.list-cons .cons-top .tit-tabs .list {
    margin-right: 10px;
    padding: 2px 7px;
    display: inline;
    font-size: 14px;
}
.list-cons .cons-top .tit-tabs .list.active {
    border-radius: 10px;
    background: #5ec2bc;
    color: #fff;
}
.list-cons .cons-top .more {
    float: right;
    cursor: pointer;
}
/*
 cons -内容
*/
.list-cons ul.cons-main-box {
    padding: 15px 20px;
    box-sizing: border-box;
}
.list-cons ul.cons-main-box li {
    /*position: relative;*/
    width: 100%;
    height: 29px;
    line-height: 29px;
    background: url('../images/arrow.gif') no-repeat 0;
}
.list-cons ul.cons-main-box li.li-down {
    background: url('../portalsIndex/images/download.gif') no-repeat 0;
}

.list-cons ul.cons-main-box li a {
    padding-left: 20px;
    width: 80%;
    float:left;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3e3e3f;
}
.list-cons ul.cons-main-box li:hover a{
    text-decoration: underline;
    color: #72c1b9;
}
.list-cons ul.cons-main-box li span {
    float: right;
    color: #ccc;
}
.list-cons .cons-main-box table.regime-table {
    width: 100%;
}
.list-cons .cons-main-box table.regime-table tr {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.list-cons .cons-main-box table.regime-table tr th {
    text-align: left;
}
.list-cons .cons-main-box table.regime-table tr td,
.list-cons .cons-main-box table.regime-table tr th {
    border-bottom: 1px solid #e8ebeb;
}
.list-cons .cons-main-box table.regime-table tbody tr.unborder td {
    border-bottom: 0;
}
.list-cons .cons-main-box table.regime-table tr td:first-child,
.list-cons .cons-main-box table.regime-table tr th:first-child {
    padding-left:20px;
}
.list-cons .cons-main-box table.regime-table thead tr {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #282828;
}
.list-cons .cons-main-box table.regime-table tbody tr {
    height: 45px;
    line-height: 45px;
}
.list-cons .cons-main-box table.regime-table tbody tr:hover a{
    text-decoration: underline;
    color: #72c1b9;
}