.hide{
    display: none;
}
.approve-body {
    min-width:1440px;
}
#header.approve-header .header-logo-box,#header.approve-header #nav ul.nav-bar{
    width: 1440px;
}
.approve-content .content{
    width: 1440px;
}
.approve-content .content .content-left, .approve-content .content .content-right {
    background: #fff;
    border: 1px solid #e2e7eb;
    /*margin-bottom: -calc(100vh - 200px);*/
    /*padding-bottom: calc(100vh - 200px);*/

}
.approve-content .content .content-left {
    margin-right: 25px;
    width: 1060px;

}

.approve-content .content .content-left .approve-top {
    position:relative;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    color: #454545;
    border-bottom: 1px solid #eaeef0;
}

.approve-content .content .content-left .approve-top .tabs-box {
    position: absolute;
    top:50%;
    right: 20px;
    margin: -7px 0 0 0 ;
    height: 18px;
    width: auto;

}
.tabs-box .tab-con {
    position: relative;
    z-index: 5;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    *zoom:1;
    *display: inline;
    vertical-align: top;
    font-size: 12px;
    border-radius: 50%;
    color: #2d2d2d;
    background: #e7e9ea;
}
.tabs-box .tab-con.active {
    background: #5ec2bc;
    color: #fff;
}
.tabs-box .tab-bor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    height: 2px;
    width: 100%;
    background: #e7e9ea;

}
.approve-content .content .content-left .tab-main {
    margin: 20px 10px;
    border: 1px solid #e6eaec;
}
.approve-content .content .content-left .tab-main .tab-title {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6eaec;
    /*background: linear-gradient(to bottom, #f6f6f6, #fff);*/
    background: url("./../images/title_bg.jpg") repeat-x;
}

.approve-content .content .content-left .tab-main .tab-title span {
    padding-left: 45px;
    font-size: 16px;
    font-weight: 600;
}
.approve-content .content .content-left .tab-main .tab-content {
    padding: 20px;
    padding-bottom:0;
    height: auto;
    box-sizing: border-box;
    /*border: 1px solid #e6eaec;*/
}
ul.tab-list {
    margin-bottom: 20px;
    height: 123px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e1edec;
}
ul.tab-list.child {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #f7f7f7;
    border: none;
}
ul.tab-list li {
    float: left;
    height: 100%;
    box-sizing: border-box;
}
ul.tab-list.child li{
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #fff;
    color: #363636;
    background: none;
}
ul.tab-list li.child-con-one {
    /*width: 200px;*/
    width: 20%;
}
ul.tab-list li.child-con-two {
    /*width: 510px;*/
    width: 52%
}

ul.tab-list li.child-con-three {
    /*width: 100px;*/
    width: 10%;
}
ul.tab-list li.child-con-four {
    /*width: 164px;*/
    width: 16%;
    border-right: 0;
}
ul.tab-list.end-tab-list {
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.05);
}
ul.tab-list.end-tab-list .arrow {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -16px 0 0 0 ;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 10px solid transparent;
}
ul.tab-list.end-tab-list li.child-con-one {
    position: relative;
    background: #e3f6f5;
}
ul.tab-list.end-tab-list li.child-con-two {
    padding: 20px 0px 0;
}
ul.tab-list.end-tab-list li.child-con-one .txt{

    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 100%;
    text-align: center;
    line-height: 1.7;
}
ul.tab-list.end-tab-list li.child-con-one .txt.start-applic {
    color: #444444;
       margin-top: 25px;
}
ul.tab-list.end-tab-list li.child-con-one .txt.name {
    font-size: 24px;
    color: #3d3d3d;
}
ul.tab-list.end-tab-list li.child-con-one .txt.impower-txt span{
    margin-bottom: 18px;
    cursor: pointer;
    color: #1aa79f;
    border-bottom: 1px solid #7ececa;
}
ul.tab-list.end-tab-list li.child-con-one .txt.impower-txt span:hover {
    border-bottom: none;
}
ul.tab-list.end-tab-list li.child-con-two {
    font-size: 14px;
}
ul.tab-list.end-tab-list li.child-con-two .result {
    margin-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebeff2;
}
ul.tab-list.end-tab-list li.child-con-two label{
    color: #393a3a;
}
ul.tab-list.end-tab-list li.child-con-two .result label {
    float: left;
}
ul.tab-list.end-tab-list li.child-con-two .result span {
    float: left;
    width: 84%;
    color: #6e6f6f;
}
ul.tab-list.end-tab-list li.child-con-two .idea {
    margin-left:15px;
    padding-top: 12px;
}
ul.tab-list.end-tab-list li.child-con-two .idea span {
    color: #fe5b3f;
}
/*状态*/
ul.tab-list.end-tab-list li.child-con-three .status {
    margin: 60px auto 0;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #969696;
    background: #e6e6e6;
    border-radius: 5px;
}
ul.tab-list.end-tab-list li.child-con-three .status span {padding-left:2px;}
ul.tab-list.end-tab-list li.child-con-three .status.return {
    background: #fc563a;
    color: #fff
}
ul.tab-list.end-tab-list li.child-con-three .status.done {
    background: #65dc73;
    color: #fff
}
ul.tab-list.end-tab-list li.child-con-three .status.done img {
    height: 14px;
}
ul.tab-list.end-tab-list li.child-con-three .status.feel-incline {
    background: #5ec2bc;
    color: #fff
}
ul.tab-list.end-tab-list li.child-con-three .status img {
    margin-top: -2px;
    height: 11px;
}
/*
最后一个
*/
ul.tab-list.end-tab-list li.child-con-four {
    padding-top: 15px;
    text-align: center;
}
ul.tab-list.end-tab-list li.child-con-four .write, ul.tab-list.end-tab-list li.child-con-four span {
    width: 100%;
    display: inline-block;
    *zoom:1;
    *display: inline;
}
ul.tab-list.end-tab-list li.child-con-four .time {
    padding-top: 10px;
}
ul.tab-list.end-tab-list li.child-con-four span {
    line-height: 1.5
}
ul.tab-list.end-tab-list li.child-con-four .used-time{
    color: #1aa79f;
}

ul.tab-list.alter-tab-list {
    border: 1px solid #fae6e2;
}
ul.tab-list.alter-tab-list li.child-con-one {
    background: #ffefec;
}

/*right*/
.approve-content .content .content-right {
    margin-left: -4px;
    width: 355px;
    min-height: calc(100vh - 195px)
}
.approve-content .content .content-right .right-top {
    height: 45px;
    width: 100%;
    line-height: 45px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #151a1f;
    border-bottom: 1px solid #e6eaec;
    background: #fafafa;
}
.approve-content .content-right .work-area {
    padding: 0 20px 20px;
    margin-bottom: 200px;
}
.approve-content ul.work-area li.work-con {
    padding: 25px 0;
    font-size: 14px;
    border-bottom: 1px solid #e6eaec;
}
ul.work-area li.work-con span.edit-cost {
    padding-left: 22px;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #49c4bd;
    cursor: pointer;
}
ul.work-area li.work-con .ele-check {
    width: 100%;
    line-height: 20px;
    font-size: 12px;
}
ul.work-area li.work-con .ele-check img{
    padding-right:5px;
    margin-top: 2px;
    width: 16px;
}
ul.work-area li.work-con.unbor {
    border-bottom: none;
}
ul.work-area li.work-con .opinion {
    margin-top: 20px;
    width: 100%;
    height: 123px;
    border: 1px solid #e6eaec;
}
.approve-content .content-right .work-bottom {
    position: absolute;
    bottom: 70px;
    padding: 0 20px 20px;
    width: 100%;
    box-sizing: border-box;
    line-height: 23px;
}
.approve-content .content-right .work-bottom .radio.agree-radio {
    margin-right: 25px;
}


.approve-content .content-right .work-bottom .selects{
    height: 23px;
    width: 94px;
    line-height: 23px;
    font-size: 12px;

}
.approve-content .content-right .work-bottom .selects .se-item {
    top: 22px;
}
.approve-content .content-right .work-bottom .selects .se-item .once{
   height: 25px;
    line-height: 25px;
}
.approve-content .content-right .work-bottom .selects.disabled{
    background: #f3f7fa;
    color: #959595;
}
.approve-content .content-right .work-bottom .selects .img-down {
    width: 10px;
}
.approve-content .content-right .work-btns {
    position: absolute;
    bottom: 0;
    height: 65px;
    width: 100%;
    line-height: 65px;
    text-align: center;
    background: #fafafa;
}
.approve-content .content-right .work-btns .whiteBths {
    margin-right: 0;
}
/*

*/
.approve-content .screen-content .content-left {
    width: 100%;
}
.approve-content .screen-content .content-right {
    width: 100%;
    margin-bottom: 10px;
}